{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "global-require": "off",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx"],
        "paths": [
          "./src/js"
        ]
      }
    }
  }
}